.element__like {
  background-image: url(../../../images/Like.svg);
  width: 20.76px;
  height: 18.13px;
  cursor: pointer;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  border-style: none;
  outline: none;
  transition: opacity 0.2s linear;
  margin-left: 20px;
}

.element__like:hover {
  opacity: .6;
}
