.popup__input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background-color: #FFFFFF;
  width: 358px;
  padding-bottom: 6.6px;
  margin: 0 auto 30px 0;
}

.popup__input:last-of-type{
  margin-bottom: 48px;
}

@media screen and (max-width: 565px) {
  .popup__input {
    width: 238px;
    padding-bottom: 8.2px;
    font-size: 14px;
    line-height: 1.21;
  }
}
