.header{
  max-width: 880px;
  max-height: 74px;
  padding-top: 45px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 495px) {
.header {
  padding-top: 28px;
  }
}
