.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 907px) {
  .profile__avatar {
    margin-left: 27px;
    }
  }

@media screen and (max-width: 770px) {
  .profile__avatar {
    margin-left: 0px;
    }
  }

