.profile__interests {
  max-width: 336px;
  min-height: 18px;
  margin: 0;
  font-style: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 770px) {
  .profile__interests {
    max-height: 50px;
    max-width: 282px;
    margin: 14px auto 0;
    font-size: 14px;
    line-height: 1.21;
    grid-column: 1/3;
    }
  }
