  .popup__interests {
    margin: 30px auto 48px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-color: #FFFFFF;
    width: 358px;
  }

  @media screen and (max-width: 565px) {
    .popup__interests {
      width: 238px;
      height: 27px;
      font-size: 14px;
      line-height: 1.21;
    }
  }
